{%extends 'base.html'%} {% block content %}
<div class="container">

    <div class="row">
        {% if picture%}
        <h2>Found {{ picture|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 picture for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if picture %} {% for images in picture %}
        <div class="col-sm-6 col-md-3">
            <h1>{{images.tags}}</h1>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}